.#{$prefixClass}-month-panel {
  .#{$prefixClass}-column-month-cell {
    padding: 10px 0;
  }
  .#{$prefixClass}-column-month-cell-0 {
    width: 156px;
  }
  .#{$prefixClass}-column-month-cell-1 {
    // width: 1
  }
  .#{$prefixClass}-column-month-cell-2 {
    // text-align: right;
    width: 60px;
  }
  .#{$prefixClass}-month {
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover {
      background: $rangeColor;
      border-radius: 4px;
    }
  }
  .#{$prefixClass}-selected-cell {
    .#{$prefixClass}-month {
      background: $selectedColor;
      color: #fff;
      border-radius: 4px;
    }
  }
  .#{$prefixClass}-range-cell {
    .#{$prefixClass}-month-wrapper {
      background: $rangeColor;
    }
  }
  .#{$prefixClass}-disabled-cell {
    .#{$prefixClass}-month-wrapper {
      background: #fff;
    }
    .#{$prefixClass}-month {
      background: #fff;
      color: $disableColor;
      cursor: not-allowed;
      &:hover {
        background: #fff;
      }
    }
  }
}
